<style type="text/css">
#wrap {
   width:100%;
   margin:0 auto;
}
#left_col {
   float:left;
   width:50%;
}
#right_col {
   float:right;
   width:50%;
}
</style>

<main>
  <div class="main container">

    <h2 class="text-center">
      {{department}}<br>
      <small>Secretaria de {{secretariat?.name}}</small>
    </h2>

    <div id="wrap">

      <div id="left_col">
        <h3 class="text-center">Disciplinas</h3>
        <ul class="list-unstyled">
          <li *ngFor="let discipline of disciplines">
            <h4>
              <div class="text-center">
                <a id="disciplineId" (click)="gotoDiscipline(discipline.objectId)">{{discipline.name}}</a>
              </div>
            </h4>
          </li>
        </ul>
      </div>

      <div id="right_col">
          <h3 class="text-center">Estudantes</h3>
          <ul class="list-unstyled">
            <li *ngFor="let student of students">
              <h4>
                <div class="text-center">
                  <a id="studentId" (click)="gotoStudent(student.objectId)">{{student.name}}</a>
                </div>
              </h4>
            </li>
          </ul>
      </div>

    </div>
  </div>
</main>
