<main>
  <div class="main container">
    <div class="text-center">
      <h3>
        Nome vai aqui
        <br>
        <small>(Matrícula vai aqui)</small>
      </h3>
    </div>
    <br>
    <div class="text-center">
      <h4>Disciplinas disponíveis do Departamento:</h4>
      <ul class="list-unstyled">
        <li *ngFor="let discipline of disciplines" (click)="onSelect(discipline)" [class.selected]="discipline === selectedDiscipline">
          <h4>
            <a>{{discipline.name}}</a>
          </h4>
        </li>
      </ul>
    </div>
    <hr>
    <div *ngIf="selectedDiscipline">
      <h4 class="text-center">
        {{selectedDiscipline.name}}
        <br>
      </h4>
      <!-- Fazer esta lógica:
        1) Mostrar a disciplina.
        2) Se o aluno está matriculado ou não.
        3) Se pode se matricular ou não.
        4) Os motivos que não pode, se necessário. -->
      <button class="btn btn-primary">Matricular</button>
    </div>
  </div>
</main>
