<main>
  <div class="main container">
    <h2 class="text-center">{{text}}<br>
    <small>(Nome do Estudante - Nº de Matrícula)</small></h2>
    <br>
    <h3> Está matriculado em: </h3>

      <table class="table">
        <thead>
        <tr>
          <th>Nome da Disciplina</th>
          <th>Código</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Cálculo</td>
          <td>1</td>
        </tr>
        <tr>
          <td>Física</td>
          <td>2</td>
        </tr>
        <tr>
          <td>Qualquer outra aí</td>
          <td>3</td>
        </tr>
      </tbody>
    </table>

  </div>
</main>
