<main>
  <div class="main container">
    <h2 class="text-center">{{text}} {{discipline?.name}}<br>
    <small>{{discipline?.professor?.name}}</small></h2>
    <br>
    <h3>
    <ul>
      <li> Código da disciplina: {{discipline?.id}}</li>
      <li> Número de créditos: {{discipline?.credits}}</li>
      <li> Código dos pré-requisitos:</li>
        <ul>
          <li *ngFor="let disc of discipline?.preRequisites">{{disc.id}}</li>
        </ul>
      <li> Quantidade de créditos mínimos para cursar a disciplina: {{discipline?.minimumCredits}}</li>
      <li> Lista de alunos matriculados: </li>
        <ul>
          <li *ngFor="let stu of students">
            {{stu?.id}}: {{stu?.name}}
          </li>
        </ul>
    </ul>
    </h3>
  </div>
</main>
