<main>
  <div class="main container">
    <div class="text-center">
      <h3>
        {{student?.name}}
        <br>
        <small>Matrícula: {{student?.registry}}</small>
        <br>
      </h3>
    </div>
    <br>
    <div class="text-center">
      <h4>Disciplinas disponíveis em {{department?.name}}:</h4>
      <ul class="list-unstyled">
        <li *ngFor="let discipline of disciplines" (click)="onSelect(discipline)" [class.selected]="discipline === selectedDiscipline">
          <h4>
            <a>{{discipline?.name}}</a>
          </h4>
        </li>
      </ul>
    </div>

    <div *ngIf="selectedDiscipline">
      <hr>
      <h4 class="text-center">
        {{selectedDiscipline.name}}
        <br>
      </h4>

      <!-- Fazer esta lógica:
        1) Mostrar a disciplina. OK
        2) Se o aluno está matriculado ou não. OK
        3) Se pode se matricular ou não.
        4) Os motivos que não pode, se necessário. -->

      <h5 class="text-center">
        <div *ngIf="enrolled">
          O aluno está matriculado na disciplina.
        </div>
        <div *ngIf="!enrolled">
          O aluno não está matriculado na disciplina.
          <br>
          <br>
          <br>
          <button class="btn btn-primary">Matricular</button>
        </div>
      </h5>
    </div>
  </div>
</main>
