<main>
  <div class="main container">
    <h2 class="text-center">{{text}}<br>
    <small>{{student?.name}} - Matrícula: {{student?.id}}</small></h2>
    <br>
    <h3> Está matriculado em: </h3>

      <table class="table">
        <thead>
        <tr>
          <th>Nome da Disciplina</th>
          <th>Código</th>
        </tr>
      </thead>
      <tbody>
        <template ngFor let-discipline [ngForOf]="disciplines">
          <tr>
            <td>{{discipline?.name}}</td>
            <td>{{discipline?.id}}</td>
          </tr>
        </template>
      </tbody>
    </table>

  </div>
</main>
